
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Bevan|Francois+One|Patua+One|Paytone+One|Teko');



body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://images.pexels.com/photos/2116599/pexels-photo-2116599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}

.navbar-inverse .navbar-brand {
    font-family: 'Patua One', cursive;
    background-color: #071741;
    color: white;
}

.navbar {
    background-color: #071741;
    font-family: 'Patua One', cursive;
}

.navbar-inverse .navbar-nav li a {
    font-family: 'Patua One', cursive;
    color: white;
}


.jumbotron {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    background-color: #FFFFFF,transparent;
    border: inset;
    border-color: #000000;
    color: black;
    text-align: center;
}

.row .card-body {
    font-family: 'Abril Fatface', cursive;
    border: inset;
    border-radius: 10px;
    border-color: #000000;
    background-color: #071741;
    color: white;
}

#invisible .card-body {
    background-color: #FFFFFF;
}

.table{
    font-family: 'Patua One', cursive;
    background-color: #071741;
    color: white;
    border: 6px groove black;
    padding: 50px 50px 50px 50px;
}
.company {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    background-color: #6E768A;
    border: inset;
    border-color: #000000;
    color: black;
    
}
.employee {
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    background-color: #6E768A;
    border: inset;
    border-color: #000000;
    color: black;
}
.school{
    font-family: 'Abril Fatface', cursive;
    margin-top: 30px;
    background-color: #6E768A;
    border: inset;
    border-color: #000000;
    color: black;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
