@{
    ViewBag.Title = "Contact";
}
<h2>Adam Wolanin</h2>
<h3>How to Contact Me</h3>
<h5>Please only use this if there is a bug with this service.</h5>

<address>
    15466 Dusty Trail<br />
    Noblesville, In<br />
    <abbr title="Phone">Phone</abbr>
    317.551.5679
</address>

<address>
    <strong>Adam Wolanin:</strong>   <a href="mailto:awolanin6611@gmail.com">awolanin6611@gmail.com</a><br />
</address>