@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hiring Fair</h1>
    <p class="lead">Eventually I want to put information in here that is about my project.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Yep &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="#">Yep &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Yep &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Yep &raquo;</a></p>
    </div>
</div>