@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hiring Fair</h1>
    <p class="lead">Eventually I want to put information in here that is about my project.</p>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Looking for a Job:</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hiring for a Job:</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                
            </div>
        </div>
    </div>
</div>